@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
body {
    margin: auto;
    margin-top: 15%;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 120%;
}
.body-85 {
    width: 85vw;
    margin: auto;
}
h2 {
    color: hsl(210, 10%, 33%);
}
.desc {
    color: hsl(201, 11%, 66%);
    font-size: 18px;
}

button:hover {
    cursor: pointer;
}
.bgreen {
    background-color: #26bba4;
    -webkit-box-shadow: inset 0px -3px 0px 0px rgba(32, 158, 137, 1);
    -moz-box-shadow: inset 0px -3px 0px 0px rgba(32, 158, 137, 1);
    box-shadow: inset 0px -3px 0px 0px rgba(32, 158, 137, 1);
}
.bblue {
    background-color: #6174ff;
    -webkit-box-shadow: inset 0px -3px 0px 0px rgba(81, 98, 209, 1);
    -moz-box-shadow: inset 0px -3px 0px 0px rgba(81, 98, 209, 1);
    box-shadow: inset 0px -3px 0px 0px rgba(81, 98, 209, 1);
}
.bblue, .bgreen {
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border: 0px;
    font-weight: 500;
    font-size: 100%;
}
.footer {
    margin: auto;
    width: 100%;
}
.hover {
    width: fit-content;
}
.hover:hover {
    color: hsl(171, 66%, 44%);
    cursor: pointer;
}
.buttons {
    display: flex;
    justify-content: center;
}
.social img:hover {
    fill:  hsl(171, 66%, 44%);
    cursor: pointer;
}
/* font-family: 'Bai Jamjuree', sans-serif; */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
    body {
        background-image: url(./images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    h2 {
        margin-top: 50px;
    }
    .header img {
        margin: auto;
    }
    .img {  
        width: 100%;
        margin: auto;
        display: block;
        margin-top: 50px;
    }
    .buttons {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }    
    .con {
        margin-top: 70px;
    }
    .space {
        margin-top: 150px;
    }
    .icon {
        margin-top: 50px;
    }
    .sponsors {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        row-gap: 100px;
        align-items: center;
        margin-bottom: 150px;
    }
    .sponsors img {
        width: 40%;
    }
    .devices {
        width: 100%;
    }
    .footer {
        margin-top: 100px;
        width: 100%;
        background-color: #f5f6f8;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        color: hsl(201, 11%, 66%);
        font-weight: 400;
    }
    .footer-opts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-logo {
        display: block;
        margin-left:auto;
        margin-right: auto;
        width: 60px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .faqs {
        margin-top: 0px;
    }
    .social {
        display: flex;
        justify-content: center;
    }
    .social img {
        margin: 5vw;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 700px) {
    body {
        background-image: url(./images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    h2 {
        margin-top: 70px;
        font-size: 2.5vw;
}
   .header img {
        margin-top: -50px;
    }
    .desc {
        max-width: 42vw;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 30px;
        font-size: 1.5vw;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 20px;
        width: fit-content;
        margin: auto;
    }
    .bblue, .bgreen {
        padding-left: 30px;
        padding-right: 30px;
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items:center;
    }
    .img {
        width: 100%;
        margin: auto;
        display: block;
        margin-top: 50px;
    }
    .al-left {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .al-left h2 {
        font-size: 2vw;
        margin-top: -10px;
    }
    .al-left p {
        font-size: 1vw;
        margin-top: -10px;
        margin-left: 0px;
    }
    .devices {
        width: 100%;
    }
    .item-main {
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        column-gap: 7vw;
    }
    .closer-down {
        margin-bottom: -10px;
    }
    .icon {
        margin-bottom: -20px;
        margin-top: 10px;
    }
    .item h2 {
        margin-bottom: -10px;
    }
    .item p {
        margin-bottom: 30px;
    }
    .sponsors {
        margin: auto;
        margin-top: 150px;
        margin-bottom: 150px;
        display: flex;
        flex-direction: row;
        width: fit-content;
        justify-content: center;
        align-items: center;
        column-gap: 5vw;
    }
    .sponsors img {
        width: 15%;
        height: 100%;
    }
    .footer {
        padding-bottom: 50px;
        padding-top: 50px;
        margin-top: 150px;
        background-color: #f5f6f8;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.5vw;
    }
    .footer-opts {
        display: flex;
        justify-content: space-around;
        column-gap: 7vw;
    }
    .left {
        text-align: left;
    }
    .footer-logo {
        width: 6vw;
    }
    .social {
        display: flex;
        column-gap: 2vw;
    }
}