@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}
/* font-family: 'Bai Jamjuree', sans-serif; */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        background-image: url(./images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        background-image: url(./images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}